node_modules
dist
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
.DS_Store
.vite
.tmp-*
/public/banespa.png
/public/bartie.png
/public/burguer.png
/public/pokebola.png
/public/portuguesa.png

.vercel
.env*.local
